.MaterialCardContainer {
  flex: auto;
}
.MaterialCardContainer .materialItem {
  margin: 10px 0 20px;
}
.MaterialCardContainer .materialItem .materialTitle {
  display: flex;
  gap: 10px;
  align-items: center;
}
.MaterialCardContainer .materialItem .materialTitle .actionText {
  font-size: 14px;
  line-height: 21px;
  color: #42464a;
  display: flex;
}
.MaterialCardContainer .materialItem .materialTitle .actionText .materialName {
  font-weight: 600;
  color: black;
  margin: 0 5px;
}
