.start-btn-icon {
  position: relative;
  width: 14px;
  height: 13px;
  margin-right: 8px;
}
.start-btn-icon::after,
.start-btn-icon::before {
  position: absolute;
  transition: var(--home-transition-base);
}
.start-btn-icon::before {
  content: '';
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  box-sizing: border-box;
  transform: rotate(135deg);
  left: -2px;
  top: 50%;
  margin-top: -4px;
}
.start-btn-icon::after {
  content: '';
  width: 6px;
  height: 2px;
  background-color: #fff;
  right: 0;
  bottom: 0;
}
.start-btn:hover .start-btn-icon::before {
  left: 6px;
  border-color: #a6d8ff;
}
.start-btn:hover .start-btn-icon::after {
  background-color: #a6d8ff;
  right: 1px;
  width: 7px;
  bottom: 5.5px;
}
body:not([arco-theme='dark']) .start-btn:hover {
  background: #1d2129 !important;
}
:global(html.rtl) .start-btn-icon {
  margin-left: 8px;
  margin-right: 0;
}
