.PersonSideContainer {
  max-width: 350px;
  border-right: 1px solid #d8cfcf;
  min-height: 50vh;
  height: 100vh;
  padding: 30px;
  position: fixed;
  margin-top: 60px;
}
.PersonSideContainer .ownerContainer .ownerControl .ownerControlTop {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}
.PersonSideContainer .ownerContainer .ownerControl .ownerControlSearch {
  margin-bottom: 30px;
}
